# App artifacts
/_build
/db
/deps
/*.ez
/doc
/cover

# Nerves artifacts
/_images
/.nerves

# Generate on crash by the VM
erl_crash.dump
*.o
/priv/hci_ex
/.vscode
hci_ex.log
/hci_ex.strace
/hci_ex.val.log
/hci_ex.val.xml
